[Unit]
Description=Diarization frontend Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/proj/video_diarization/video_diarization/diar-project
ExecStart=/bin/bash /root/proj/video_diarization/video_diarization/diar-project/start.sh
Restart=on-failure
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target